body{
	margin: 0px;
}

header
{
	display: flex;
	background-color: black;
	justify-content: space-between;
}
.logotype-title
{
	font-size: 15px;
	margin-right: 25px;
	font-family: amboy-black, sans-serif;
	color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #000000;
}