body{
	margin: 0px;
}

header
{
	display: flex;
	background-color: black;
	justify-content: space-between;
}
.logotype-title
{
	font-size: 15px;
	margin-right: 25px;
	font-family: amboy-black, sans-serif;
	color: white;
	margin-top: 10px
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #FFFFFF;
  height: 150px;
}

.hero{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin-bottom: 150px;
}
.card-description
{
	margin-top: 20px;
	width: 25%;
}
.line{
	border: 3px solid black;
}
.social-links{
	margin: 0px 0px 20px 0px;
}
@media screen and (max-width: 600px)
{
	.card-description{
		width: 75%;
		margin-bottom: 100px;
		margin-top: 10px;
	}
	.hero{
		justify-content: center;
	}
	
	
	
}