body{
	margin: 0px;
}

header
{
	display: flex;
	background-color: black;
	justify-content: space-between;
}
.logotype-title
{
	font-size: 15px;
	margin-right: 25px;
	font-family: amboy-black, sans-serif;
	color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #FFFFFF;
  height: 10%;
}

.hero{
	display: flex;
	flex-wrap: wrap;
}
.card-description
{
	margin-top: 25px;
	width: 25%;
}
@media screen and (max-width: 600px)
{
	.card-description{
		width: 75%;
		margin-top: 0px;
	}
	.hero{
		justify-content: center;
	}
}